<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scrapper</h1>
    <p class="lead">You can view news from The Daily Universe, save articles and comment on them!! </p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <a href="/scrape"><button id="scrape-button" type="button" class="btn btn-dark">Scrape for Articles</button></a>
  </div>
  <div class="col-md-6">
    <a href="/saved"><button id="saved-button" type="button" class="btn btn-dark">Saved Articles</button></a>
  </div>
</div>