<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scrapper</h1>
    <p class="lead">You can view news from New York Times, save articles and comment on them!! </p>
  </div>
</div>